<!DOCTYPE html>
<html lang="en">
	<head>
		
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Microservices</title>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="assets/css/custom.css">	
		<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="dist/sweetalert.css">


		     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  		 <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		 <script src="/javascripts/misc.js"></script>
  		<script src="/dist/sweetalert.min.js"></script>

	</head>

	<body>

	<section>
		<p></p>
		<div class="container text-center">
			
			<div class="col-md-7 col-sm-12 text-left">
				<ul>
					<li class="row list-inline columnCaptions">
						<span>Unidades</span>
						<span>Prenda</span>
						<span>Precio</span>
					</li>
					<% for (var i in body) { %>
					<li class="row">
						
						<span class="quantity"> <%= body[i] %> </span>
						<span ></span>
						<span class="itemName"><%= i %></span>
						<span class= "price"> 
							<% if (i.indexOf('Tirantes') == 0) { %>
								$ <%= (49*body[i]) %>
							<% } %> 
							<% if (i.indexOf('Rayas') == 0) { %>
							   $ <%= (38*body[i]) %> 
							<% } %> 
							<% if (i.indexOf('Polo') == 0) { %>
							   $ <%= (54*body[i]) %> 
							<% } %> &nbsp 
						</span>

								<!-- <div id="popover" style="display: none">
									<form method="POST" action="/catalogo/deleteProduct">
									<input type="hidden" name="modelSize" value=<%= i %>>
									<button type="submit"><span class="glyphicon glyphicon-remove"></span></button>
									</form>
								</div> -->
						<!-- <span class="price">$49.95</span> -->
						
					</li>
					<% } %>
					<li class="row totals">
						
						<span class="order" data-photo-id="56">

						<button class="delete-photo btn btn-lg btn-warning" data-photo-id="56">Comprar</button>

								<script type="text/javascript">
								  $('button.delete-photo').click(function() {
								    var photoId = $(this).attr("data-photo-id");
								    deletePhoto(photoId);
								  });

								  function deletePhoto(photoId) {
								    swal({
								        title: "Su pago se ha recibido con éxito",
								        text: "Muchas gracias por su compra!",
								        type: "success",
								        showCancelButton: false
								    },
								    function(){
								        window.location.href = "/cart/closecart";
								    });
								    
								  }
								 </script>


						 </span>
						  
						  
						  	
					</li>
				</ul>
			</div>

		</div>

		<!-- The popover content -->

		<div id="popover" style="display: none">
			<form method="POST" action="/catalogo/addToCart">
			<input type="hidden" name="modelSize" value=<%= i %>>
			<button type="submit"><span class="glyphicon glyphicon-remove"></span></a>
			</form>
		</div>
		
		<!-- JavaScript includes -->

		<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script> 
		<script src="assets/js/bootstrap.min.js"></script>
		<script src="assets/js/customjs.js"></script>
</section>
	</body>
</html>